.card-feature {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: var(--gap-medium-sm);
}
img {
  width: 65px;
}

.card-feature .card-feature-title {
  font-size: var(--font-size-24);
}

.card-feature .card-feature-text {
  font-size: var(--font-size-20);
  text-align: center;
}
