.card-feature {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
img {
  width: 65px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

p {
  font-size: 20px;
  color: #e0e0e0;
  font-weight: 400;
}
