#airdrop-list-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large-xs);
  padding: 100px;
}

#airdrop-search-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium-sm);
}

#aidrop-liste-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: var(--gap-medium-sm);
}
#airdrops-cards-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
  grid-template-rows: repeat(3, auto); /* 3 lignes automatiques */
  gap: 20px;
}

@media (max-width: 1000px) {
  #airdrops-cards-content {
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes égales */
    grid-template-rows: repeat(2, auto); /* 3 lignes automatiques */
  }
}

@media (max-width: 768px) {
  #airdrops-cards-content {
    grid-template-columns: repeat(1, 1fr); /* 3 colonnes égales */
    grid-template-rows: repeat(1, auto); /* 3 lignes automatiques */
  }
  #airdrop-list-part {
    padding: 20px;
  }
}
