.card {
  width: auto;
  width: fit-content; /* comme “Hug” */
  padding: 20px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid #333333;
  color: #e0e0e0;
}

.card_title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.card_text {
  width: 222px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
