.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-layer-2);
  border-radius: 8px;
  padding: 10px 15px;
  width: 600px;
}

.searchbar-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--desktop-font-size-label);
  color: var(--color-light-grey);
  background: none;
}

.searchbar-input::placeholder {
  color: var(--color-light-grey);
}

.searchbar-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.searchbar-btn img {
  width: 18px;
  height: 18px;
}
