.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  border-radius: 8px;
  padding: 10px 15px;
  max-width: 400px;
}

.searchbar__input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  color: #808080;
  background: none;
}

.searchbar__input::placeholder {
  color: #808080;
}

.searchbar__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.searchbar__btn img {
  width: 18px;
  height: 18px;
}
