.header {
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #121212 55%, transparent 130%);
}

.header-nav {
  display: flex;
  gap: var(--gap-medium-sm);
  padding: 10px;
}

.header-logo img {
  width: 150px;
}
