.header {
  background: linear-gradient(to bottom, #121212 30%, rgba(18, 18, 18, 0) 90%);
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* ===== Desktop ===== */
.header-desktop {
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 150px;
}

.header-nav {
  display: flex;
  gap: 32px;
  padding: 10px;
}

.header-cta {
  margin-left: 24px;
}

/* ===== Mobile Header ===== */
.header-phone {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 18px;
  background: #121212;
}

.phone-header-logo {
  display: flex;
  align-items: center;
}

.phone-header-logo img {
  width: 40px;
}

.menu-burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.phone-header-cta {
  margin-left: auto;
}

/* ===== Burger Menu mobile ===== */
.phone-burger-menu {
  display: none;
}

.phone-burger-menu.menu-open {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background: #121212;
  z-index: 2000;
  padding: 80px 20px;
  gap: var(--gap-large-xs);
}
.container-phone-menu-logo-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-phone-menu-logo-btn img {
  width: 160px;
}

.menu-close-btn {
  color: var(--color-text-primary);
  font-size: 50px;
  cursor: pointer;
}

.phone-burger-menu nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium-l);
}

.phone-burger-menu nav a {
  font-size: var(--font-size-24);
  font-weight: var(--weight-bold);
}
.container-phone-menu-cta-rs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium-sm);
}

.container-phone-menu-cta {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium-xs);
}
.container-phone-menu-cta .container-phone-menu-cta-title {
  font-size: var(--font-size-20);
  font-weight: var(--weight-semi-bold);
}

.phone-menu-cta {
  display: flex;
  gap: var(--gap-small-xl);
}
.phone-menu-cta button {
  width: 100%;
}

.container-phone-menu-rs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium-xs);
}
.container-phone-menu-rs .container-phone-menu-rs-title {
  font-size: var(--font-size-16);
  font-weight: var(--weight-medium);
  color: var(--color-layer-3);
}

.phone-menu-rs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-small-xl);
}
.phone-menu-rs img {
  width: 40px;
}

/* ===== Responsive rules ===== */
@media (max-width: 1200px) {
  .header-desktop {
    display: none;
  }
  .header-phone {
    display: flex;
  }
}

@media (min-width: 1201px) {
  .header-phone {
    display: none;
  }
}
