.dashboard-card {
  padding: 10px 20px;
  border-bottom: solid 0.5px var(--border);
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-card .actions {
  display: flex;
  gap: 8px;
  align-items: center;
}
