.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 5px;
  gap: var(--gap-small-xl);
  cursor: pointer;
  color: var(--color-text-primary);
  border: none;
  font-weight: var(--font-weight-label);
}

.btn.primary {
  background-color: var(--color-purple);
}

.btn.secondary {
  background-color: var(--color-pink);
}

.btn.l {
  font-size: var(--font-size-18);
}

.btn.m {
  font-size: var(--font-size-16);
}

.btn.s {
  font-size: var(--font-size-14);
}

.btn-img {
  width: 24px;
  height: 24px;
}
