.btn {
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-text-primary);
  border: none;
  font-weight: var(--font-weight-label);
}

.btn.primary {
  background-color: var(--color-purple);
}

.btn.secondary {
  background-color: var(--color-pink);
}

.btn.l {
  font-size: var(--font-size-18);
}

.btn.m {
  font-size: var(--font-size-16);
}

.btn.s {
  font-size: var(--font-size-14);
}
