.round-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--color-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.round-btn img {
  width: 24px;
  height: 24px;
}
