.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nuber_part h3 {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}

.nuber_part p {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

.nuber_part {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  background: #4800d0;
}
