.login-wrapper {
  background-color: color-mix(in oklab, var(--card) 30%, transparent);
  border: solid 1px var(--border);
  border-radius: var(--radius);
  padding: 20px;
  max-width: 300px;
  margin: auto;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
