.key-stat-separateur {
  width: 5px;
  height: 150px;
  background: #e345e5;
  border-radius: 100px;
}

.key-stat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.key-stat-part {
  width: 215px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--gap-medium-sm);
}

.key-stat-part .key-stat-title {
  font-size: var(--font-size-40);
  color: var(--color-text-secondary);
}
.key-stat-part .key-stat-text {
  font-size: var(--font-size-20);
}
