.key-stat-separateur {
  width: 5px;
  height: 150px;
  background: var(--color-tertiary);
  border-radius: 100px;
}

.key-stat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-large-l);
}

.key-stat-part {
  width: 215px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--gap-medium-sm);
}

.key-stat-part .key-stat-title {
  font-size: var(--font-size-40);
  color: var(--color-text-secondary);
}
.key-stat-part .key-stat-text {
  font-size: var(--font-size-20);
}

@media (max-width: 1000px) {
  .key-stat-part {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .key-stat {
    flex-direction: column;
    gap: var(--gap-small-xl);
  }
  .key-stat-separateur {
    width: 100%;
    height: 2px;
    background: var(--color-layer-2);
  }
}
