.hero-card {
  padding: 20px;
  background: var(--color-layer-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium-sm);
  border-radius: 6px;
  border: 1px solid var(--color-layer-2);
}

.hero-card .hero-card-title {
  font-size: var(--font-size-20);
}

.hero-card .hero-card-text {
  width: 222px;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-card .hero-card-text {
    display: none;
  }
  .hero-card .hero-card-title {
    font-size: var(--font-size-14);
  }
  .hero-card {
    padding: 20px 15px;
  }
}
