.airdrop-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-foreground);
  border: solid 1px var(--border);
  padding: 10px;
  border-radius: var(--radius-sm);
  width: 100%;
  max-width: 600px;
}

.airdrop-card .left {
  display: flex;
}

.airdrop-card .details {
  margin-left: 10px;
}

.airdrop-card img {
  border-radius: var(--radius-sm);
}

.airdrop-card .details .desc {
  background-color: var(--secondary);
  text-align: center;
  padding: 2px 15px;
  border-radius: var(--radius-xs);
  font-weight: 500;
}

.airdrop-card .actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
