#airdrop-read table {
  max-width: 300px;
  font-size: 18px;
}

#airdrop-read table td:first-child {
  background-color: var(--secondary);
}

#airdrop-read .social-medias {
  display: flex;
  gap: 10px;
  align-items: center;
}

#airdrop-read p {
  font-size: 16px;
}

#airdrop-read .social-medias div {
  width: 60px;
}

#airdrop-read .social-medias img {
  width: 30px;
  border-radius: 100px;
  margin: auto;
  display: block;
}

#airdrop-read .social-medias .social-name {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
