#key-stat-part {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large-s);
}

#key-stat-part h2 {
  text-align: center;
}
#key-stat-part .key-stat-part-h2-bold {
  font-size: var(--desktop-font-size-h2);
  font-weight: var(--font-weight-h2);
  color: var(--color-text-primary);
}
#key-stat-part .key-stat-part-h2-medium {
  font-size: var(--desktop-font-size-h2);
  font-weight: var(--weight-regular);
  color: var(--color-text-primary);
}

@media (max-width: 960px) {
  #key-stat-part h2 {
    text-align: start;
  }
  #key-stat-part {
    align-items: flex-start;
  }
  #key-stat-part .key-stat-part-h2-bold {
    font-size: var(--phone-font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-text-primary);
  }
  #key-stat-part .key-stat-part-h2-medium {
    font-size: var(--phone-font-size-h2);
    font-weight: var(--weight-regular);
    color: var(--color-text-primary);
  }
}
