#key-stat-part {
  padding: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large-s);
}

#key-stat-part h2 {
  text-align: center;
}
