#key-stat-part {
  padding: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large-s);
}

#key-stat-part h2 {
  text-align: center;
}
@media (max-width: 1200px) {
  #key-stat-part {
    padding: 100px 20px;
  }
}
@media (max-width: 768px) {
  #key-stat-part h2 {
    text-align: start;
  }
  #key-stat-part {
    align-items: flex-start;
  }
}
