.card-airdrop {
  background-color: #1a1a1a;
  border-radius: 7px;
  padding: 20px;
  color: #e0e0e0;

  display: flex;
  flex-direction: column;
  gap: var(--gap-medium-sm);
}

.img-statu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-statu img {
  width: 50px;
  border-radius: 5px;
}

.img-statu .statu {
  background: var(--color-secondary);
  color: var(--color-text-primary);
  padding: 7px 10px;
  border-radius: 3px;
  font-size: var(--font-size-14);
  font-weight: var(--weight-semi-bold);
}

.card-airdrop-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-small-xl);
}

.card-airdrop-content .card-title {
  font-size: var(--font-size-24);
}

.card-airdrop-content .card-text {
  font-size: var(--font-size-20);
  text-align: start;
}

.card-cta button {
  width: 100%;
}
