.btn {
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-weight: 600;
}

.btn.primary {
  background-color: #771cff;
}

.btn.secondary {
  background-color: #e345e5;
}

.btn.l {
  font-size: 18px;
}

.btn.m {
  font-size: 16px;
}

.btn.s {
  font-size: 14px;
}
