#last-cta-part {
  background-image: url("/img/webp/bg-last-cta.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--gap-large-xl);
  padding: 100px 20px;
}

.img-last-cta {
  width: 400px;
}

.last-cta-container-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-medium-m);
  padding-bottom: 100px;
  padding-top: 60px;
}
.last-cta-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-medium-sm);
}

.last-cta-text .title-last-cta {
  color: var(--color-text-secondary);
  text-align: start;
}
.last-cta-text .text-last-cta {
  font-weight: var(--weight-medium);
  font-size: var(--font-size-24);
  text-align: start;
}

@media (max-width: 768px) {
  #last-cta-part {
    justify-content: flex-start;
    background-image: url("/img/webp/phone-bg-last-cta.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .last-cta-container-part {
    width: 100%;
  }
  #img-container-last-cta {
    display: none;
  }
  .last-cta-text .title-last-cta {
    font-size: var(--font-size-36);
  }
}
